<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>PASSo - Adminisztrátor</title>
  <link rel="stylesheet" href="css/style_personal_page.css">
</head>
<body>

<div style="text-align: center;"><h1>PASSo - Adminisztrátori oldal</h1></div>
<div class="text">
  <a href="/">Kilépés</a> <a href="/nyitooldal">Nyitóoldal</a>
</div>

<br>

<div class="page">
  <div class="card">
    <div class="container">
      <div class="menu">
        <h3>Admin</h3>
      </div>
      <div class="content">
        <div class="text">
          <h2>Hozzon létre törzsadatokat</h2>
          <br>
          <div><a href="/novvterv_regisztracio">Növényv. terv</a></div><br><br>
          <div><a href="novvterv_reszl_regisztracio">Növényv. terv részletei</a></div><br><br>
          <div><a href="/gazdalkodas_feladatok">Gazdálkodási feladatok</a></div>
        </div>
      </div>
    </div>
    <div class="photo3"></div>
  </div>
</div>


</body>
</html>