<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Új gazdálkodási feladat</title>
  <link rel="stylesheet" href="css/style_personal_page.css">
</head>
<body>

<div style="text-align: center;"><h1>Új gazdálkodási feladat létrehozása</h1></div>
<div class="text">
  <a href="/adminisztrator">Vissza az adminisztrátori oldalra</a>
</div>

<br>

<div class="page">
  <div class="card">
    <div class="container">
      <div class="menu">
        <h3>Gazdálkodás</h3>
        <i class="fas fa-bars"></i>
      </div>
      <div class="content">
        <div class="text">
          <h1>Új feladat létrehozása</h1>
          <p>Kérjük töltse ki a mezőket!</p>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="menu">
        <h3>Gazdálkodás</h3>
        <i class="fas fa-bars"></i>
      </div>
      <div class="content">
        <div class="text">

          <form class="form-horizontal" method="post" th:action="@{/gazdalkodas_feladatok}" th:object="${t_gazd_reszl}">
            <input th:field="*{id}" type="hidden" />

            <div class="form-group mx-3 my-3">
              <div class="col-sm-12">
                <select class="form-control" th:field="*{gazdasagid}" id="gazdasagid" required style="width: 400px;">
                  <option value="">Kérjük válasszon gazdaságot!</option>

                  <option th:each="gazdasagok : ${gazdasagList}" th:value="${gazdasagok.id}" th:text="${gazdasagok.gazdasagneve}">Gazdaság</option>

                </select>
              </div>
            </div>

            <br>

            <div class="form-group mx-3 my-3">
              <div class="col-sm-12">
                <select class="form-control" th:field="*{novenyvtervid}" id="novenyvtervid" required style="width: 400px;">
                  <option value="">Kérjük válasszon növényvédelmi tervet!</option>

                  <option th:each="tervek : ${novvtervList}" th:value="${tervek.id}" th:text="${tervek.bejegyzescime}">Növényv. tervek</option>

                </select>
              </div>
            </div>

            <br>

            <div class="form-group mx-3 my-3">
              <div class="col-sm-12">
                <input class="form-control" th:field="*{feladatok}" type="text" id="feladatok" placeholder="A feladat megnevezése" required style="width: 400px;">
              </div>
            </div>

            <br>

            <div class="form-group mx-3 my-3">
              <div class="col-sm-12">
                <select class="form-control" th:field="*{feladatstatus}" id="feladatstatus" required style="width: 400px;">
                  <option value="">Kérjük válasszon feladat státuszt!</option>
                  <option value="Nyitott">Nyitott feladat</option>
                  <option value="Folyamatban">Folyamatban lévő feladat</option>
                  <option value="Elvégezve">Elvégzett feladat</option>
                  <option value="Tervezett">Tervezett feladat</option>
                </select>
              </div>
            </div>

            <br>

            <div class="form-group mx-3 my-3">
              <button type="submit" value="Save">Mentés</button>
            </div>
          </form>


        </div>
      </div>
    </div>

  </div>
</div>



</body>
</html>