<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>PASSo - Nyitóoldal</title>
    <link rel="stylesheet" href="css/style_personal_page.css">
</head>
<body>

<div style="text-align: center;"><h1>PASSO - A növényvédelem itt kezdődik</h1></div>

<br>

<div class="page">
    <div class="card">
        <div class="container">
            <div class="menu">
                <h3>Gazdaság</h3>
                <i class="fas fa-bars"></i>
            </div>
            <div class="content">
                <div class="text">
                    <h1>Tekintse át a  <br>gazdaságát </h1>
                    <p>Itt éri el a Ön <br>a gazdaságának adatait</p>
                    <a href="/gazdasag_overview">Megnyitás</a>
                </div>
            </div>
        </div>
        <div class="photo1"></div>
    </div>
</div>

<div class="page">
    <div class="card">
        <div class="container">
            <div class="menu">
                <h3>Tudástár</h3>
                <i class="fas fa-bars"></i>
            </div>
            <div class="content">
                <div class="text">
                    <h1>Fedezze fel a  <br>növényvédelem <br>világát</h1>
                    <p>Itt éri el a <br>növényvédelmi tudásbázist</p>
                    <a href="/tudastar_nvsz">Megnyitás</a>
                </div>
            </div>
        </div>
        <div class="photo2"></div>
    </div>
</div>


<div class="page">
    <div class="card">
        <div class="container">
            <div class="menu">
                <h3>PASSo</h3>
                <i class="fas fa-bars"></i>
            </div>
            <div class="content">
                <div class="text">
                    <h1>Fedezze fel az  <br>alkalmazást</h1>
                    <p>Itt talál további információkat <br>az alkalmazás működésével kapcsolatban</p>
                    <a href="/alk_help">Megnyitás</a>
                </div>
            </div>
        </div>
        <div class="photo3"></div>
    </div>
</div>

</body>
</html>