<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Új gazdaság regisztrációja</title>
  <link rel="stylesheet" href="css/style_personal_page.css">
</head>
<body>

<div style="text-align: center;"><h1>Új terület regisztrációja</h1></div>
<div class="text">
  <a href="/nyitooldal">Vissza a nyitóoldalra</a>
</div>

<br>

<div class="page">
  <div class="card">
    <div class="container">
      <div class="menu">
        <h3>Terület</h3>
        <i class="fas fa-bars"></i>
      </div>
      <div class="content">
        <div class="text">
          <h1>2. lépés</h1>
          <p>Regisztrálja a gazdaságon belüli területe(ke)t.</p>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="menu">
        <h3>Terület</h3>
        <i class="fas fa-bars"></i>
      </div>
      <div class="content">
        <div class="text">

          <form class="form-horizontal" method="post" th:action="@{/terulet_regisztracio}" th:object="${t_terulet}">
            <input th:field="*{id}" type="hidden" />

            <div class="form-group mx-3 my-3">
              <div class="col-sm-12">
                <input class="form-control" th:field="*{teruletneve}" type="text" id="teruletneve" placeholder="Terület neve" required>
              </div>
            </div>

            <br>

            <div class="form-group mx-3 my-3">
              <div class="col-sm-12">
                <input class="form-control" th:field="*{teruletgis}" type="text" id="teruletgis" placeholder="Terület GIS adatok" required>
              </div>
            </div>

            <br>

            <div class="form-group mx-3 my-3">
              <div class="col-sm-12">
                <input class="form-control" th:field="*{gazdasagid}" type="text" id="gazdasagid"
                       placeholder="Gazdaság ID" required>
              </div>
            </div>

            <br>


            <div class="form-group mx-3 my-3">
              <button type="submit" value="Save">Mentés</button>
            </div>
          </form>


        </div>
      </div>
    </div>

  </div>
</div>

<br>

<div class="text">
  <a href="/kultura_regisztracio">Kihagyom, inkább új kulturát regisztrálok</a>
</div>


</body>
</html>